// HEADER
.port-navbar.port-nav-base {
  width: 100vw;
  z-index: 15;
  padding: 40px;
  display: flex;
  justify-content: space-between;

  .port-navbar {
    display: flex;
    &-brand > h1 {
      color: white;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
}

// --------- DEFAULT HEADER -------------
.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
  background-color: $secondary !important;
}

// --------- DEFAULT HEADER -------------
