html,
body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  font-size: 1.6rem;
}

.self-typed {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  z-index: 20;
  @include respond(phone) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
